.adminNavigation{
    max-width: 350px;    
    font-size: 1.3rem;
}

.adminNavigation p{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.adminNavigation p:hover{
    font-weight: bolder;
}

@media (max-width: 720px) {
    /*убираем отступ у row на малых устройствах (пустое пространство справа)*/
    .adminContentRow{
        margin-right: 0;
        margin-left: 0;
    }
}